.sidebar .wp-block .wp-block-body .col-md-8 h2 a,
.sidebar .wp-block .wp-block-body .col-md-8 p,
.sidebar .wp-block .wp-block-body .col-md-12 p:first-child {
  visibility: hidden;
}

.sidebar .wp-block .wp-block-body .col-md-8 h2 a:before {
  content: "Святая принцесса Моргания <3";
  visibility: visible !important;
}

.sidebar .wp-block .wp-block-body .col-md-12 p:first-child i {
  visibility: visible !important;
}

.sidebar .wp-block .wp-block-body .col-md-8 p:before {
  content: "Kawai";
  visibility: visible !important;
}

.sidebar .wp-block .wp-block-body .col-md-12 p:first-child i {
  visibility: visible !important;
}

i.fa.fa-quote-left:after {
  letter-spacing: 1px;
  text-shadow: 0 3px 3px rgba(0, 0, 0, .8);
  font-family: "Raleway", sans-serif !important;
  font-size: 13px;
  content: " I love you";
}
